
body {
    margin: 0;
    padding: 0;
    background-color: #F8F9FB;

    font-family: "Merriweather Sans", sans-serif;

    color: #171717;
}

h1,h2,h3,h4 {
    margin: 0;
}

h1 {
    font-size: 32px;
}

p {
    font-weight: 100;
}

a {
    text-decoration: none;
    color: #171717;
}

.paddingSide100 {
    padding: 0 100px;
}

.header {
    /* padding: 0 50px; */

    height: 100px;
    
    display: flex;
    gap: 50px;
    align-items: center;

    background-color: #fff;
}

.companyName {
    font-size: 36px;
    font-family: "Fredoka", sans-serif;
    font-weight: 400;
}

.header h4 {
    font-size: 20px;
    font-weight:300;
}

.companyDropDown {
    position: relative;
}

.companyDropDown:hover {
    cursor: pointer;
}

.companyDropDown .name{
    display: flex;
    align-items: center;
    gap: 10px;
}

.companyDropDown .name img{
    width: 22px;
}

.companyDropDown .list{
    margin-top: 10px;
    padding: 10px;
    line-height: 40px;
    position: absolute;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgb(0, 0, 0, 0.1);
}

/* Main Container */
.mainContainer {
    padding-top: 50px;
    padding-bottom: 50px;

    min-height: 100vh;
}

.primary {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}


/* Primary Right Side */

.primaryLeftSide {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.primaryLeftSide .description{
    font-size: 20px;
}



.primaryLeftSide button {
    padding: 20px;

    border: none;
    border-radius: 10px;
    border: 1px solid #fff;

    background-color: #824ACA;
    color: #fff;
}

.primaryLeftSide button:hover {
    border: 1px solid #824ACA;
    background-color: #fff;
    color: #824ACA;
}

.primaryLeftSide button:active {
    border: 1px solid #fff;
    background-color: #824ACA;
    color: #fff;
}

.primaryleftHighlights {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}

.highlightsCard {
    padding: 30px 10px;

    border-radius: 10px;

    display: grid;
    grid-template-columns: 1fr 2fr;
}

.highlightsCard .imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.highlightsCard h3 {
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.imgContainer img{
    max-width: 75px;
}

.highlightsCardDescription {
    grid-column: span 2;
}


/* Primary Right Side */
.primaryRightSide {
    padding: 0 50px;

    border: 1px solid #E7EBF0;
    border-radius: 10px;

    background-color: #fff;
}

.productCard {
    padding: 10px;
    margin-top: 50px;

    display: flex;
    flex-direction: row;

}

.productCardImg {
    justify-content: center;
}

.productCardImg img {
    max-width: 50px;
}

.productCardDetails {
    margin-left: 20px;
}

.productCardDetails p {
    font-size: 14px;
}

/* Section Two */

.sectionTwo {
    margin: 50px 0;
    padding: 50px;
    background-color: #FFE700;

    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
}

.verticalLineContainer {
    display: flex;
    justify-content: center;
}

.verticalLine {
    width: 0px;
    height: 100%;
    border: 1px dashed #171717;
    border-radius: 10px;
}

.tagLineContainer {
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
}


/* Section Three */
.sectionThree {
    display: grid;
    grid-template-columns: repeat(2,1fr);

    align-items: center;
}

.sectionThree .info {
    display: grid;
    gap : 20px
}

.sectionThree .imgContainer {
    display: flex;
    justify-content: right;    
}

.sectionThree .imgContainer img {
    max-width: 500px;
}


/* Section Four */
.sectionFour {
    margin-top: 50px;

    display: grid;
    grid-template-columns: 1fr 1fr;
}

.sectionFour img {
    max-width: 500px;
}

.sectionFour .info {
    display: grid;
}


/* Footer */
.footer {
    margin-top: 50px;
    /* padding: 0 50px; */

    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
}

.footerLogoContainer {
    max-width: 200px;
}

.footerLogoContainer img {
    width: 100%;
}

/* Background Colours */

.bgE7F3F8 {
    background-color: #E7F3F8;
}

footer {
    margin-bottom: 50px;
}